/* 
*******************************
Variables 
*******************************
*/
// Colors

$blue: #03A9F4;
$dark-blue: #0288D1;
$navy: #142040;
$white: #FFFFFF;
$darker-grey: #616161;
$dark-grey: #8C8C8C;
$grey: #9e9e9e;
$light-grey: #CFD8DC;
$lighter-grey: #F7FAFB;
$black: #212121;
$transparent: rgba(0,0,0,0.2);

// Fonts

$Lato: 'Lato', sans-serif;