@import 'concise.scss';
@import 'partials/setup';
@import 'partials/variables';
@import 'partials/baseStyles';
@import 'partials/formStyles';
@import 'partials/navBarStyles';
@import 'partials/aboutPageStyle';
@import 'partials/blogPageStyle';

.IndexHero {
	position: relative;
	color: $white;
	padding: 60px 30px;
	background-image: url('assets/image/home/hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.IndexHeroText {
	bottom: 30px;
	margin-top: 100px;
}
.IndexHeroFlexContainer {
	display: flex;
	justify-content: space-between;
}
.IndexFlexItem:first-child {
	margin: 0px 10px 0px 0px;
}
.IndexFlexItem:last-child {
	margin: 0px 0px 0px 10px;
}
.IndexFlexItem {
	flex-grow: 1;
	background-color: transparentize($navy, 0.1);
	border-radius: 3px;
	margin: 0px 10px;
	padding: 15px 30px;
	border: 3px solid $blue;
	p {
		color: $white;
		margin: 0;
	}
	&:hover, &:focus {
		background-color: $blue;
	}
}
.IndexAdvertise {
	padding: 60px 30px;
}
.IndexAdvertiseContainer {
	display: flex;
	flex-direction: row;
	background-color: $navy;
	justify-content: space-between;
	border: 3px solid $blue;
	border-radius: 3px;
	padding: 20px 0px;
}
.IndexAdvertiseItem {
	flex-grow: 1;
	padding: 20px;
	border-left: 1px solid transparentize($dark-blue, 0.8);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.IndexAdvertiseItem:first-child {
	border-left: none;
}
.IndexAdvertiseItemText {
	flex-grow: 1;
	margin: 0;
	color: $white;
	text-align: center;
	h1 {
		font-size: 42px;
		font-size: 4.2rem;
		margin: 0;
	}
}
.IndexLeft {
	text-align: left;
}
section.IndexForSale {
	background-color: $lighter-grey;
}
.IndexNavContainer {
	max-width: 600px;
	display: flex;
	align-items: center;
	padding: 30px 0;
	h3 {
		padding-right: 30px;
	}
}
.IndexPropertyContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: baseline;
	margin: 0 auto;
	width: calc(100% - 60px);
}
.IndexNav {
	min-width: 250px;
	margin: 0 auto 0;
}
.IndexPropertyItem {
	margin: 10px 10px;
	min-width: 200px;
	max-width: 215px;
}
.IndexPropertyImage {
	position: relative;
	max-height: 222px;
	img {
		width: 100%;
	}
}
.IndexPropertyPrice {
	background-color: $blue;
	position: absolute;
	padding: 5px 20px;
	// top: 130px;
	bottom: -10px;
	left: -10px;
	i.fa {

	}
	h4 {
		margin: 0;
	}
}

.IndexAbout {
	width: 60%;
	min-width: 400px;
	float: left;
}
.IndexAboutChooseUs {
	width: 30%;
	min-width: 250px;
	float: right;
	ul {
		flex-direction: column;
		color: $grey;
		padding-left: 35px;
		li {
			position: relative;
			padding: 10px 0px;
			&::after {
				position: absolute;
				content: "";
				background-image: url("assets/icons/check.png");
				background-repeat: no-repeat;
				width: 25px;
				height: 25px;
				left: -35px;
			}
		}
	}
}

.IndexNews {
	background-color: $navy;
	max-height: 400px;
	padding: 40px;
	h3 {
		color: $white;
	}
}
.IndexNewsSlider {
	overflow-x: auto;
}
.IndexNewsContainer {
	width: calc(235px * 7);
}
.IndexNewsItem {
	
	h2 {
		color: $blue;
	}
	p {
		color: $white;
		font-weight: 200;
	}
	width: 215px;
	margin: 10px;
	float: left;
}
.IndexNewsItem:first-child {
	margin-left: 0;
}
.IndexNewsItem:last-child {
	margin-right: 0;
}


// ****************************
// 			Media Queries
// ****************************

@media(max-width: 1040px) {
	.testimonialsFlexContainer {
		.testimonialsFlexItem {
			max-width: 100%;
		}
	}
}

@media (max-width: 780px) {
	h1 {
		font-size: 42px;
		font-size: 4.2rem;
	}
	h2 {
		font-size: 24px;
		font-size: 2.4rem;
	}
	h3 {
		font-size: 18px;
		font-size: 1.8rem;
	}
	h4 {
		font-size: 10px;
		font-size: 1.0rem;
	}
	li, p {
		font-size: 12px;
		font-size: 1.2rem;
	}
	.topBar {
		padding: 30px;
		h2 {
			margin: 10px 0px;
		}
	}
	.headerContainer input[type=search] {
		width: 200px;
	}
	.hero {
		padding: 40px;
	}
	.statistics {
		padding: 40px;
	}
	.Top {
		top: -10px;
	}
	.Bottom {
		bottom: 10px;
	}
	.Left {
		left: -170px;
		h1::after {
			right: -180px;
			width: 150px;
		}
		h4 {
			left: 80px;
			top: 30px;
		}
	}
	.Right {
		right: -170px;
		h1::after {
			left: -180px;
			width: 150px;
		}
		h4 {
			top: 40px;
		}
	}
	.about {
	flex-direction: column;
	}
	.aboutImage {
		width: 100%;
		min-height: 270px;
	}
	.aboutText {
		width: 100%;
	}
	.textContainer {
		padding: 40px;
	}
	.terminalFlexContainer {
		padding: 20px 0px 40px;
	}
}

@media (max-width: 650px) {
	
}

@media(max-width: 500px) {
	h1 {
		font-size: 32px;
		font-size: 3.2rem;
	}
	h2 {
		font-size: 20px;
		font-size: 2.0rem;
	}
	h3 {
		font-size: 14px;
		font-size: 1.4rem;
	}
	h4 {
		font-size: 10px;
		font-size: 1.0rem;
	}
	li, p {
		font-size: 12px;
		font-size: 1.2rem;
	}
	.topBar {
		padding: 20px;
	}
	.hero {
		padding: 20px;
	}
	.statistics {
		padding: 20px;
	}
	.statisticsNav {
		margin: 0 auto 20px;
	}
	.statisticsDisplayContainer {
		padding: 40px 20px;
	}
	.statText h1::after {
		width: 0;
	}
	.Top {
		top: -25px;
	}
	.Right {
		right: -140px;
		h4 {
			top: 25px;
		}
	}
	.Left {
		left: -140px;
		h4 {
			top: 25px;
			left: 110px;
		}
	}
	.Bottom {
		bottom: -25px;
	}
	.about {
		flex-direction: column;
	}
	.aboutImage {
		width: 100%;
		min-height: 270px;
	}
	.aboutText {
		width: 100%;
	}
	.weOffer {
		padding: 0px 20px 20px;
	}
	.offerFlexContainer {
		padding: 20px 0px 60px;
	}
	.offerFlexItem {
		img {
			min-width: 100px;
		}
	}
	.notificationContainer {
		padding: 0;
	}
	.contactContainer {
		padding: 20px;
	}
	.mapContainer {
		padding-left: 0px;
	}
	.contactInfo {
		max-width: 100%;
		width: 100%;
	}
}



